#tablehead {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tablehead td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#tablehead tr:nth-child(even) {
    background-color: #dddddd;
}

#tableinfo {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tableinfo td,
#tableinfo th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tableinfo tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tableinfo tr:hover {
    background-color: #ddd;
}

#tableinfo th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(205, 212, 205);
    color: rgb(28, 29, 34);
}